.links {
    display: flex;
    flex-direction: column;
}

.links_link--review, .links_link--logout {
    margin-bottom: 1em;
    text-decoration: none;
}

.links_link--review {
    color: #a2d9ce;
}

.links_link--logout {
    color: #ccd1d1;
}